/*------------------------------------*\
  HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1 {
  @include font-style(
    $font-normal,                     // Font Family
    80px,                             // Font Size
    get-color-primary("after-hours"), // Font Color
    300,                              // Font Weight
    90px                              // Line Height
  );
}

h2 {
  @include font-style(
    $font-normal,                     // Font Family
    36px,                             // Font Size
    get-color-primary("fresh"),       // Font Color
    false,                            // Font Weight
    46px                              // Line Height
  );
}