/*------------------------------------*\
  PARAGRAPHS
\*------------------------------------*/

p {
  font-family: din-2014, sans-serif;
  color: get-color-primary("after-hours");
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  &.asterisk {
    @include font-style(
      $font-normal,                // Font Family
      40px,                        // Font Size
      get-color-primary("black"),  // Font Color
      300,                         // Font Weight
      50px                         // Line Height
    );
  }

  &.intro {
    @include font-style(
      $font-normal,                     // Font Family
      22px,                             // Font Size
      get-color-primary("after-dark"),  // Font Color
      300,                              // Font Weight
      38px                              // Line Height
    );

    @include respond-to("phone") {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &.post {
    @include font-style(
      $font-normal,                     // Font Family
      20px,                             // Font Size
      get-color-primary("after-dark"),  // Font Color
      false,                            // Font Weight
      26px                              // Line Height
    );

    @include respond-to("phone") {
      font-size: 18px;
      line-height: 24px;
    }
  }
}