/*------------------------------------*\
  PARAGRAPHS
\*------------------------------------*/

p {
  font-family: din-2014, sans-serif;
  color: get-color-primary("after-hours");
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}