.we-pursue-forward-thinking-par {

      font-family: "DIN 2014";
      line-height: 55px;
      text-align: center;
      position: relative;
       h2 {
        color: #6E848C;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 8px;
       }
    }
    .when-you-come-to-us-you-ve {
      height: 110px;

      font-family: "DIN 2014";
      position: relative;
      p {
        color: #57666A;
        font-weight: 100;
        line-height: 30px;
        font-size: 24px;
        letter-spacing: 2px;
        width: 28vw;
      }
    }

    .subHeading {
      margin-top: 50px;
      margin-bottom: 450px;
    }

    .flexParent {
      display: flex;
    align-items: center;
    width:66vw;
    margin-left: -70px;
         > div{
      flex: 1;
       }
    }
  //   .left {

  //     text-align: left;
  // }

  // .right {

  //     text-align: right;
  // }

.c-about-department-list {
  margin:    0px auto 118px auto;
  max-width: 1180px;    // inherit from site body?
  h2 {
    margin-bottom: 82px;
    font-weight: 400;
    text-align: center;
  }
  &__item {
    display:  flex;
    margin:   0 24px;
    position: relative;
    &:nth-of-type(even) {
      margin-top: -150px;
      flex-direction: row-reverse;
    }
    &:first-of-type {
      margin-top: 0;
    }

  }
  &__geometric-block {
    position: absolute;
    top:      232px;
    left:     500px;
  }
  &__fresh-circle {
    float:        left;
    margin-right: 49px;
    top:          0;
    left:         0;
    width:        207px;
    height:       250px;
  }
  &__violet-square {
    position: absolute;
    top:      118px;
    left:     134px;
    z-index:  1;
  }
  &__brush-squares {
    position: absolute;
    top:      163px;
    right:    -66px;
    height:   226px;
    width:    254px;
  }
  &__scribbles {
    position: absolute;
    top:      240px;
    right:    100px;
    height:   174px;
    width:    164px;
    z-index:  1;
  }
}

.c-home-header + .c-about-department-list {
  margin-top: 400px;
}