/*------------------------------------*\
  SETTINGS - COLORS
\*------------------------------------*/

$colors: (
  "primary": (
    "fresh":          #19a87c,
    "fog":            #dfebee,
    "white":          #ffffff,
    "after-hours":    #043544
  ),
  "secondary": (
    "violet-blue":    #3d5cc2,
    "throwback-pink": #f953a9,
    "siracha":        #fb5c54,
    "center-lane":    #fcb43d
  ),
  "complimentary": (
    "tea":            #76c1b9,
    "eraser":         #ffabff,
    "sticky-blue":    #2ab2c1,
    "icon":           #dae5e8
  ),
  "neutral": (
    "lighter":#fefefe,
    "light":  #c5d4d8,
    "dark":   #9ea7a9
  )
);