$icons: (
  "bolt":          '\e900',
  "circle-full":   '\e901',
  "circle":        '\e902',
  "empty":         '',
  "eye":           '\e903',
  "go-sign":       '\e904',
  "plus":          '\e905',
  "raindrop-full": '\e906',
  "raindrop":      '\e907',
  "square-play":   '\e908',
  "square-washer": '\e909',
  "triangle":      '\e90a',
  "x":             '\e90b'
);