.c-home-header {
  @include site-container;
  position: relative;
  height: 946px;

  @include respond-to("tablet") {
    overflow: hidden;
  }

  &__logo {
    height: 50px;
    width: 43px;
    left: 0px;
    position: absolute;
    top: 5px;
    z-index: 2;

    path {
      fill: get-color-primary("white");
    }
  }

  &__content {
    @include grid-column(7.5);
    @include grid-push(2);
    padding-top: 234px;
    position: relative;
    z-index: 3;

    > .c-menu {
      display: none;
      position: absolute;
      right: 22px;
      top: 20px;
      z-index: 97;

      @include respond-to("tablet") {
        display: block;
      }
    }

    @include respond-to("tablet") {
      @include grid-column(8);
      @include grid-push(4);
    }

    .header-text {
      position: absolute;

      &-main {
        overflow: hidden;
        height: 90px;
        margin-top: 0;
        margin-bottom: 0;

        &-enter {
          opacity: 0.01;
        }

        &-enter-active {
          opacity: 1;
          transition: opacity 300ms ease-in;
        }

        &-leave {
          opacity: 1;
        }

        &-leave-active {
          opacity: 0.01;
          transition: opacity 200ms ease-in;
        }
      }

    }
  }

  &__scroll {
    display: block;
    padding-top: 124px;

    @include font-style(
      $font-narrow,                // Font Family
      14px,                        // Font Size
      get-color-neutral("light"),  // Font Color
      false,                       // Font Weight
      38px                         // Line Height
    );

    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    @include respond-to("tablet") {
      text-align: left;
    }
  }

  .c-icon-grid {
    position: absolute;
    right: 0;
    z-index: 2;

    @include respond-to("tablet") {
      display: none;
    }
  }

  .c-squiggle-line {
    left: -264px;
    position: absolute;
    z-index: -1;

    @include respond-to("tablet") {
      left: -326px;
      top: -255px;
    }
  }
}