@mixin animation($value) {
  -webkit-animation: $value;
    -moz-animation:  $value;
    animation:       $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin icon-shadow($color) {
  text-shadow: 0 4px 16px $color;
}

@mixin site-container() {
  @include grid-container;
  margin: 0 auto;
  width: 1180px;
  position: relative;
}