.c-footer {
  @include site-container;
  padding-bottom: 48px;
  padding-top: 60px;

  p, a {
    color: get-color-neutral("darker");
    font-size: 12px;
    text-decoration: none;
  }

  a {
    @include color-transition;

    &:hover {
      color: get-color-primary("fresh");
    }
  }

  &__divider {
    padding: 0 10px;

    @include respond-to("tablet") {
      display: none;
    }
  }

  &__logo {
    @include grid-column(12);

    @include respond-to("tablet") {
      @include grid-column(6);
    }

    img {
      height: 40px;
      width: 144px;
    }
  }

  &__info {
    @include grid-column(12);
    padding-top: 14px;

    @include respond-to("tablet") {
      @include grid-column(6);
    }

    &__details {
      display: inline-block;
      width: 50%;

      @include respond-to("tablet") {
        display: block;
        width: 100%;
      }

      > a {
        @include respond-to("tablet") {
          display: block;
          margin-bottom: 20px;
        }
      }
    }

    &__copyright {
      display: inline-block;
      width: 25%;
      text-align: right;

      @include respond-to("tablet") {
        display: block;
        opacity: 0.5;
        width: 100%;
        text-align: left;
      }
    }
  }

  &__social {
    display: inline-block;
    width: 25%;

    &__link {
      display: inline-block;
      margin-right: 16px;
      width: 18px;

      path, rect, circle {
        fill: get-color-neutral("darker");
      }
    }
  }
}