.c-home-block-list {
  @include site-container;
  margin-bottom: 73px;

  @include respond-to("tablet") {
    overflow: hidden;
  }

  &__column {
    @include grid-column(4);
    position: relative;
    text-align: center;

    @include respond-to("tablet") {
      @include grid-column(11);
      @include grid-push(0.5);
      margin-bottom: 88px;
    }

    &:first-child {
      padding-top: 34px;

      @include respond-to("tablet") {
        padding-top: 0;
      }
    }

    &:nth-child(2) {
      padding-top: 80px;

      @include respond-to("tablet") {
        padding-top: 0;
      }
    }

    &:last-child {
      @include respond-to("tablet") {
        margin-bottom: 0;
      }
    }

    > p.asterisk {
      margin: 102px auto 96px auto;
      max-width: 60%;
      text-align: left;
    }

    .c-blog-block,
    .c-casestudy-block {
      margin: 0 auto;
      width: 90%;
    }

    .c-blog-block + .c-blog-block,
    .c-casestudy-block + .c-casestudy-block,
    .c-blog-block + .c-casestudy-block,
    .c-casestudy-block + .c-blog-block {
      margin-top: 88px;
    }

    .c-brush__squiggle {
      height: 253px;
      width: 400px;
      left: -314px;
      position: absolute;
      top: 480px;
      z-index: -1;
    }

    .c-brush__scribble {
      height: 98px;
      margin-top: 48px;
      width: 105px;
      position: absolute;
      right: 0;
    }

    .c-brush__siracha {
      height: 249px;
      width: 207px;
      position: absolute;
      right: -108px;
      top: 108px;
      z-index: -1;
    }
  }
}