.c-icon-grid {
  text-align: right;

  .c-menu {
    position: absolute;
    right: 22px;
    top: 20px;
    z-index: 97;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
  }

  &__link,
  &__block {
    display: block;
    padding: 24px 32px 39px 32px;
    text-decoration: none;

    .c-icon {
      display: block;
      @include animation(icon-spin-out 1s alternate ease-out forwards);

      &:hover {
        @include animation(icon-spin-in 0.4s alternate ease-out forwards);
      }
    }
  }

  &__selection {
    display: block;
    padding: 24px 32px 39px 32px;
    position: relative;
    text-decoration: none;

    .c-icon {
      display: block;
    }

    &:hover {
      .c-icon-grid__selection__label {
        @include animation(fade-in 1s alternate ease-out forwards);
      }

      .c-icon {
        @include animation(icon-selected-spin-in 0.4s alternate ease-out forwards);
      }
    }

    &.work {
      .c-icon {
        color: get-color-secondary("violet-blue");
        @include icon-shadow(rgba(60,98,187,0.4));
      }
    }

    &.contact {
      .c-icon {
        color: get-color-primary("fresh");
        @include icon-shadow(rgba(44,165,125,0.4));
      }
    }

    &.about {
      .c-icon {
        color: get-color-secondary("throwback-pink");
        @include icon-shadow(rgba(255,171,255,0.4));
      }
    }

    &.blog {
      .c-icon {
        color: get-color-secondary("siracha");
        @include icon-shadow(rgba(245,92,89,0.4));
      }
    }

    &__label {
      display: block;
      width: 82px;
      bottom: -12px;
      left: -60px;
      position: absolute;
      font-family: din-2014-narrow, sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 3px;
      text-align: left;
      text-transform: uppercase;
      @include animation(fade-out 0.4s alternate ease-out forwards);

      .work & {
        color: get-color-secondary("violet-blue");
      }

      .contact & {
        color: get-color-primary("fresh");
      }

      .about & {
        color: get-color-secondary("throwback-pink");
      }

      .blog & {
        color: get-color-secondary("siracha");
      }
    }

    .c-icon {
      @include animation(icon-selected-spin-out 0.4s alternate ease-out forwards);
    }
  }

  .c-icon {
    position: relative;
    font-size: 27px;
    color: get-color-complimentary("icon");
  }
}