.c-learn {
  @include grid-container;
  margin-top: 160px;
  padding-bottom: 71px;
  padding-top: 63px;
  width: 100%;
  background-color: get-color-primary("fog");

  &__container {
    @include site-container;
  }

  &__content {
    @include grid-column(5);

    @include respond-to("tablet") {
      @include grid-column(12);
      text-align: center;
    }
  }

  &__image {
    @include grid-column(5);
    @include grid-push(1);
    position: relative;

    @include respond-to("tablet") {
      @include grid-column(12);
      @include grid-push(0);
      text-align: center;
    }

    img {
      border-radius: 50%;
      position: absolute;
      top: -100px;

      @include respond-to("tablet") {
        max-width: 100%;
        margin-top: 50px;
        position: relative;
        top: 0;
      }
    }
  }

  p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 32px;
  }

  p + a {
    display: block;
    margin-top: 30px;
    color: get-color-primary("fresh");
    font-family: din-2014-narrow, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
  }
}