.c-our-friends {
  background-color: get-color-primary("fog");
  padding: 85px 0 130px 0;

  @include respond-to("sm-laptop") {
    padding-top: 65px;
    padding-bottom: 110px;
  }

  &__wrapper {
    @include site-container;

    @include respond-to("tablet") {
      margin-left: 40px;
      width: calc(100% - 80px);
    }

    &__label {
      @include font-style(
          $font-narrow,                // Font Family
          21px,                        // Font Size
          get-color-primary("fresh"),  // Font Color
          600,                         // Font Weight
          42px                         // Line Height
        );
      letter-spacing: 1.2px;
      text-align: center;
      text-transform: uppercase;
    }

    &__logos-container {
      margin-top: 75px;
      width: 100%;

      &__logo {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 20%;

        img {
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
        }

        &:nth-child(n+6) {
          margin-top: 75px;
        }

        @include respond-to("laptop") {
          width: 25%;

          &:nth-child(n+5) {
            margin-top: 75px;
          }
        }

        @include respond-to("tablet") {
          width: 33%;

          &:nth-child(n+4) {
            margin-top: 75px;
          }
        }

        @include respond-to("phone") {
          width: 50%;

          &:nth-child(n+3) {
            margin-top: 75px;
          }
        }
      }
    }
  }
}