@include keyframes(dash) {
  to { stroke-dashoffset: 0; }
}

.c-squiggle-line {
  @include respond-to("tablet") {
    width: 1575px;
  }

  path {
    fill: transparent;
    stroke-dasharray: 9096;
    stroke-dashoffset: 9096;
    @include animation(dash 8s linear forwards);
  }
}