.c-talk {
  padding-bottom: 122px;
  padding-top: 130px;
  width: 100%;
  background-color: get-color-primary("after-hours");

  &__wrapper {
    @include site-container;

    @include respond-to("tablet") {
      padding-left: 51px;
      padding-right: 51px;
    }

    @include respond-to("phone") {
      padding-left: 25px;
      padding-right: 25px;
    }

    &__content {
      @include grid-column(9);

      @include font-style(
        $font-normal,              // Font Family
        27px,                      // Font Size
        get-color-primary("fog"),  // Font Color
        300,                       // Font Weight
        43px                       // Line Height
      );

      letter-spacing: 2px;

      @include respond-to("tablet") {
        @include grid-column(12);
      }
    }

    &__action {
      @include grid-column(3);
      text-align: center;

      @include respond-to("tablet") {
        @include grid-column(12);
        margin-top: 50px;
        text-align: left;
      }

      .c-link-button {
        margin-top: 20px;
      }
    }
  }
}